/* ==[ FONTS ]== */
// @import url('https://fonts.googleapis.com/css?family=Nunito');

/* ==[ VARIABLES ]== */
@import "variables";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/variables";

/* ==[ BOOTSTRAP ]== */
// @import "~bootstrap/scss/bootstrap";
@import "vendors/bootstrap";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/bootswatch";

/* ==[ BASE ]== */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
}

// Index
.index-page {
    &::after {
        content: "";
    }
}

// Question 1
.question-1-page {
    &::after {
        content: "";
    }
}

// Question 2
.question-2-page {
    &::after {
        content: "";
    }
}

// Question 3
.question-3-page {
    &::after {
        content: "";
    }
}

// Question 4
.question-4-page {
    &::after {
        content: "";
    }
}

// Question 5
.question-5-page {
    &::after {
        content: "";
    }
}

// Finish
.finish-page {
    &::after {
        content: "";
    }
}
