/* ==[ FONTS ]== */
// @import url('https://fonts.googleapis.com/css?family=Nunito');

/* ==[ VARIABLES ]== */
@import "variables";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/variables";

/* ==[ BOOTSTRAP ]== */
// @import "~bootstrap/scss/bootstrap";
@import "vendors/bootstrap";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/bootswatch";

/* ==[ BASE ]== */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Index
.index-page {
    &::after {
        content: "";
    }
}

// Step 1
.step-1-page {
    &::after {
        content: "";
    }
}

// Step 2
.step-2-page {
    &::after {
        content: "";
    }
}

// Step 3
.step-3-page {
    &::after {
        content: "";
    }
}

// Step 4
.step-4-page {
    &::after {
        content: "";
    }
}

// Step 5
.step-5-page {
    &::after {
        content: "";
    }
}

// Finish
.finish-page {
    &::after {
        content: "";
    }
}
