/* ==[ FONTS ]== */
// @import url('https://fonts.googleapis.com/css?family=Nunito');

/* ==[ VARIABLES ]== */
@import "variables";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/variables";

/* ==[ BOOTSTRAP ]== */
// @import "~bootstrap/scss/bootstrap";
@import "vendors/bootstrap";

/* ==[ BOOTSWATCH ]== */
@import "~bootswatch/dist/zephyr/bootswatch";

/* ==[ BASE ]== */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    opacity: 0;

    transition: opacity 0.35s ease-in;
    -moz-transition: opacity 0.35s ease-in;
    -webkit-transition: opacity 0.35s ease-in;
}

// Header
.header {
    span {
        min-width: 0;
    }
}

.timer {
    opacity: 1;

    transition: opacity 0.35s ease-in;
    -moz-transition: opacity 0.35s ease-in;
    -webkit-transition: opacity 0.35s ease-in;
}

// Header
.header {
    span {
        min-width: 0;
    }
}

// Index
.index-page {
    &::after {
        content: "";
    }
}

// Question 1
.question-1-page {
    .choice1-label {
        color: green;
    }
}

// Question 2
.question-2-page {
    .choice3-label {
        color: green;
    }
}

// Question 3
.question-3-page {
    .choice2-label {
        color: green;
    }
}

// Question 4
.question-4-page {
    .choice1-label {
        color: green;
    }
}

// Question 5
.question-5-page {
    .choice4-label {
        color: green;
    }
}

// Finish
.finish-page {
    &::after {
        content: "";
    }
}
